<!DOCTYPE html>
<html>
  <head>
  <head prefix="og: http://ogp.me/ns#">
<meta name="og:url" content="https://nemofeed.herokuapp.com/">
<meta name="og:title" content="Let's use Bitcoin Lightning to feed clownfish!">
<meta name="og:image" content="https://wasiblo.net/wp-content/uploads/NEMOFEEDOGP.png">
<meta name="og:description" content="ビットコインライトニングネットワークを利用して、世界中どこからでもリアルタイムでクマノミ達にエサをあげよう！">
<meta name="og:type" content="website">
<meta name="twitter:card" content="summary_large_image"/>
    <link rel="icon" href="https://niwaka-hobby.com/wp-content/uploads/2021/01/favicon.ico" />
    <title>NEMO FEED</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"' />
  </head>
.alpha { color: $purple; }
.beta {
  color: $yellow-300;
  background-color: $indigo-900;
}
  　<h2 style="text-align: center;"><span style="color: #ffffff;">ビットコインライトニング決済でクマノミ達にエサをあげてみよう！β版</span></h2>
　　　<hr />
　　　　<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/ErkSSFgW4AMKude-630x591.png" alt="" width="400" height="375" class="aligncenter size-medium wp-image-7292" /></p>
　　　　<p style="text-align: center;"><iframe width="840" height="472" src="https://www.youtube.com/embed/St3w8KwjpcY?autoplay=1&amp;mute=1&rel=0" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe></p>
　　　　<p style="text-align: center;"><strong><a href="/pay" target="_blank">Pay <%= minPayment %> <%= currency %> BTC Lightning決済！</strong></a></p>
　　　　　　<p>&nbsp;</p>
　　 <h2 style="text-align: center;"><span style="color: #ffffff;">【その他の暗号資産でエサをあげる】</span></h2>
　　　<p style="text-align: center;"><span style="color: #ffffff;">（金額の下限はありませんのでお任せします、水槽機器や拡張予算にします）</span></p>
　　　<hr />
　　　　<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/NEMOFEED.png" alt="" width="833" height="612" class="aligncenter size-full wp-image-7297" /></p>
　　　　<p>&nbsp;</p>
<p><strong><span style="color: #ffffff;">・ETH  　  0x667e2B3415C5BECa30fB4599A5391cc6b9cA3E54</span></strong></p><p>&nbsp;</p>
<p><strong><span style="color: #ffffff;">・MONA　MJp1FwnJz3N9zaV8jAXLiReakK4NVUP58V</span></strong></p><p>&nbsp;</p>
<p><strong><span style="color: #ffffff;">・XRP　　rhwpHkV3KDThZgotvRk73rj6xdP1sAbs43</span></strong></p><p>&nbsp;</p>
<p><strong><span style="color: #ffffff;">・BTC　　bc1qr878jtunwgsmqlxx82axxcysqvma765t5hfejt</span></strong></p><p>&nbsp;</p>
<p><strong><span style="color: #ffffff;">・DOGE　D8W7fMQJjy4PouMkEEBcXBqhXC3t2Sxbn2</span></strong></p><p>&nbsp;</p>
<hr />
  </body>
</html>
