<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/rogo-min-630x210.jpg" alt="" width="630" height="210" class="aligncenter size-medium wp-image-6598" /></p>
<h2 style="text-align: center;"><span style="color: #ffffff;">ライトニング決済で他人の家のカーテンを勝手に開けよう！β版</span></h2>
<hr />
<p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/uOzmfdub8eU?autoplay=1&amp;mute=1" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe></p>
<p style="text-align: center;"><strong><a href="/pay" target="_blank" rel="noopener">Pay &lt;%= minPayment %&gt; &lt;%= currency %&gt; Lightning決済！</a></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="color: #ffffff;"><strong><span style="font-size: 14pt;">【その他の暗号資産で勝手にカーテンを開ける】</span></strong></span></p>
<p><strong>・ETH アドレス</strong> 　　<span>0x667e2B3415C5BECa30fB4599A5391cc6b9cA3E54</span></p>
<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/ac8b44bbf6c710228499a7c6e111011a9ffd7e8f.png" alt="" width="222" height="222" class="aligncenter size-full wp-image-7253" /></p>
<p>&nbsp;</p>
<p><strong>・MONAアドレス</strong>　  MJp1FwnJz3N9zaV8jAXLiReakK4NVUP58V</p>
<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/MONA.png" alt="" width="160" height="160" class="aligncenter size-full wp-image-7254" /></p>
<p>&nbsp;</p>
<p><strong>・IOSTアドレス　　 </strong>zuizui2121</p>
<p style="text-align: center;"></p>
<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/Screenshot_20210114-171127_TokenPocket-2.jpg" alt="" width="200" height="195" class="aligncenter size-full wp-image-7256" /></p>
  </body>
</html>
