<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h2 style="text-align: center;"><span style="color: #ffffff;">ビットコインライトニング決済でクマノミ達にエサをあげてみよう！β版</span></h2>
<hr />
<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/ErkSSFgW4AMKude-630x591.png" alt="" width="400" height="375" class="aligncenter size-medium wp-image-7292" /></p>

<p style="text-align: center;"><iframe width="840" height="472" src="https://www.youtube.com/embed/St3w8KwjpcY?autoplay=1&amp;mute=1&rel=0" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe></p>
<p style="text-align: center;"><strong><a href="/pay" target="_blank">Pay <%= minPayment %> <%= currency %> BTC Lightning決済！</strong></a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href="https://wasiblo.net/btcln">【5分で分かる！】ビットコインLightning Networkの使い方</a></p>
<p>&nbsp;</p>
<p></p>
 <h2 style="text-align: center;"><span style="color: #ffffff;">【その他の暗号資産でエサをあげる】</span></h2>
<p style="text-align: center;"><span style="color: #ffffff;">（金額の下限はありませんのでお任せします、水槽機器や拡張予算にします）</span></p>
<p></p>
<hr />
<p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/NEMOFEED.png" alt="" width="1100" height="900" class="aligncenter size-full wp-image-7297" /></p>
<hr />
<p><span style="font-size: 14pt; color: #ffffff;"><strong>・ETH </strong> 　  0x667e2B3415C5BECa30fB4599A5391cc6b9cA3E54</span></p>
<p><span style="font-size: 14pt; color: #ffffff;"><strong>・MONA</strong>　MJp1FwnJz3N9zaV8jAXLiReakK4NVUP58V</span></p>
<p><span style="font-size: 14pt; color: #ffffff;"><strong>・XRP</strong>　　rhwpHkV3KDThZgotvRk73rj6xdP1sAbs43</span></p>
<p><span style="font-size: 14pt; color: #ffffff;"><strong>・BTC</strong>　　bc1qr878jtunwgsmqlxx82axxcysqvma765t5hfejt</span></p>
<p><span style="font-size: 14pt; color: #ffffff;"><strong>・DOGE</strong>　D8W7fMQJjy4PouMkEEBcXBqhXC3t2Sxbn2</p>
  </body>
</html>
