<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/rogo-min-630x210.jpg" alt="" width="630" height="210" class="aligncenter size-medium wp-image-6598" /></p>
<h2 style="text-align: center;"><span style="color: #ffffff;">ライトニング決済で他人の家のカーテンを勝手に開けよう！β版</span></h2>
<hr />
<p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/m61qmJrDjLw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span></iframe></p>
<p style="text-align: center;"><strong><span class="big"> <a href="/pay" target="_blank" rel="noopener">Pay &lt;%= minPayment %&gt; &lt;%= currency %&gt; Lightning</a></span></strong></p>
  </body>
</html>
