@media screen and (max-width: 480px){
  background-color: #004446;
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  background-color: #003366;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
