@media screen and (max-width: 480px){
  body {
  background-color: #808000;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
}
@media screen and (max-width: 768px){
  body {
  background-color: #003366;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
}
@media screen and (max-width: 1030px){
  body {
  background-color: #006666;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
}
a {
  color: #00B7FF;
}
