body {
  background-color: #003366;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
@media screen and (max-width:480px){
  /*画面幅が480pxまでなら、文字を青色にする*/
  p {
    background-color: #005366;
     font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}
